body{
	background-image: url('/static/images/1.jpg');
	background-size: cover;
}
p{
text-align: center;
font-size: 30px;
font-family: 'Open Sans Condensed', sans-serif;
}
.dee{
  background-color: #D291BC  ;
  color: black;
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 10px;
  overflow:scroll;
  height:300px;
  width: 70%;
  box-shadow: 0 0 40px #D291BC ; 
  display: block;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  }
g{
  top: 10%;
  }

  c{
  top: 40%;
  left: 30%;
  }
  h3{
color: #FFFF99;
text-decoration-style: wavy;
font-family: 'Open Sans Condensed', sans-serif;
 position: absolute;
font-size: 50px;
  top: 17%;
  left: 38%;
}
.b2{
 background-color: #D291BC  ;
  color: #00008B;
  overflow-y: auto;
   border: 2px solid darkblue;
   width = 0%;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
font-size: 24px;
font-family: 'Open Sans Condensed', sans-serif;
}

table, td, th {
text-align: center;
background-color: #D291BC  ;
  border: 2px solid darkblue;
   border-collapse: collapse;
  width: 40%;
  left: 30%;
}

table {
text-align: center;
background-color: #D291BC  ;
  border: 2px solid darkblue;
  width: 90%;
  border-collapse: collapse;
}
