<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/2.css' %}">
       <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
</style>  
</head>
<body>
 <ul>
 <li><a href="/index"  class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Back
        </a></li>
        <li><a href="#home">GUEST VISIT INFORMATION</a></li>
</ul>
    <!-- <a class="btn btn-primary" href="">Faculty/staff</a>
    <a class="btn btn-primary" href="">Security</a>
    <a class="btn btn-primary" href="" >Visitor</a>     -->
    <!-- <DIV ID="SectionName" STYLE="display:none">Text to be shown and hidden</DIV>
    <DIV ID="SectionName2" STYLE="display:none">Second</DIV> -->
    <!-- <BUTTON ONCLICK="ShowAndHide('SectionName2')">Click me</BUTTON> -->

    <g class="w3-sidebar w3-transparent w3-bar-block" style="width:15%;padding:10px 20px">
    <p style = "color: #FFFF99">Register As</p>
    <button class="buttons b1" onclick="ShowAndHide('faculty')">Faculty</button>
    </br>
    </br>
    </br>
    <button class="buttons b1" onclick="ShowAndHide('security')">Security</button>
    </br>
    </br>
    </br>
    <button class="buttons b1" onclick="ShowAndHide('visitor')">Visitor</button>
    </g>
    <div  style="display:none" id='faculty'>
        <form class ="dee" action="/register/" method="post">
         <h2>Register as Faculty</h2>
            {% csrf_token %}
            {{ form1.as_p }}
            <input type="submit" value="Submit" name ="submit1" onclick="">
        </form>
    </div>
    <div style="display:none" id='security'>
        <form class ="dee" action="/register/" method="post">
        <h2>Register as Security</h2>
            {% csrf_token %}
            {{ form2.as_p }}
            <input type="submit" value="Submit" name = "submit2" onclick="">
        </form>
    </div>
    <div style="display:none" id='visitor'>
        <form class ="dee" action="/register/" method="post" enctype="multipart/form-data">
         <h2>Register as Visitor</h2>
            {% csrf_token %}
            {{ form3.as_p }}
            <input type="submit" value="Submit" name = "submit3" onclick="ShowAndHide('faculty')">
        </form>
    </div>
        
    <script>
     function ShowAndHide(d)
        {
            var onediv = document.getElementById(d);
            var divs=['faculty','security','visitor'];
            for (var i=0;i<divs.length;i++)
            {
            if (onediv != document.getElementById(divs[i]))
                {
                document.getElementById(divs[i]).style.display='none';
                }
            }
            onediv.style.display = 'block';
        } 
        {% if messages %}
            {% for message in messages %}
                alert('{{message}}')
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>