
body {
  background-image: url('1.jpg');
background-size: cover;
}

p{
color: #FFFF99;
text-decoration-style: wavy;
font-family: "Lucida Handwriting", monospace;
 position: absolute;
font-size: 100px;
  top: 10%;
  left: 25%;
}
c{
 position: absolute;
  top: 35%;
  left: 35%;
}
a:link, a:visited {
font-family: "Lucida Handwriting", monospace;
  background-color: transparent;
font-size: 30px;
  color: #FFFF99;
  border: 2px solid darkblue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  background-color: #330099;
  color: white;
}
