<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  id='visitor'>
        <form  action="{% url 'visitormail' username=uname fid=ffid %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" name = "submit3" onclick="">
        </form>
    </div>
    <script>
        {% if messages %}
            {% for message in messages %}
                alert('{{message}}')
            {% endfor %}
        {% endif %}
    </script> 
</body>
</html>