<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/3.css' %}">
       <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
</style>  
</head>
<body>
<ul>
<li><a href="/index"  class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a></li>
        <li><a href="#home">GUEST VISIT INFORMATION</a></li>
</ul>
    <div  id='visitor'>
    <g>
        <form  action="{% url 'visitormail' username=uname fid=ffid %}" method="post" enctype="multipart/form-data">
         <h2>Make an Appointment </h2>    
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" name = "submit3" onclick="">
        </form>
        </g>
    </div>
    <script>
        {% if messages %}
            {% for message in messages %}
                alert('{{message}}')
            {% endfor %}
        {% endif %}
    </script> 
</body>
</html>